/* /* Basic Layout*/

body {
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
}
.label_box {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.virus {
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;

}
.name {
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

.bigbox {
    border-radius: 30px;
    background-color: darkred;
    color: white;
    font-size: 20px;
    padding: 30px;
    text-align: center;
    margin: 10px 20px;
    justify-content: center;

}
h2 {
    margin-top:0;

}
h3 {
    color: white;
    background-color: darkred;
    border-radius: 30px;
    padding: 30px;
    margin: 10px;
    width: 100px;
    height: 70px;
    text-align: center;
    font-size: 30px;
    padding-top: 55px;
}

.Smallbox {
    display: flex;
    justify-content: space-around;
}   