/* Layout for landingpage */

body {
    margin-top: 50px;
    background: url(img/viruswallpaper2.png) no-repeat center center fixed;
    background-size: cover;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
} 
main {
    margin: 0px;
    background-color: rgba(255, 255, 255, 0.856);
    justify-content: center;
    border-radius: 10px;

}


h1 {
    margin-top: 20px
}

img {
    display: block;
    max-width: 100%;
    border-radius: 10px;

}


.button_title {
    border-radius: 10px;
}

button {
    border-radius: 10px;
    width: 100px;


}

.copyright {
    color: white;
}

footer {
    text-align: center;

}

@media only screen and (min-width:600px) {
    .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 50px;
    margin-left:130px;
    margin-right: 130px;
    }

    .iphone {
        grid-column: 2/3;
    }
    main {
        grid-row: 1/2;
    }

    .app_screen {
        width: 30%;
        justify-self: center;
    }
    button {
        padding: 0;
        width: 20%;
        background-color: black; 
    }

    .icon_image {
        border-radius: 20%;
    }

}

