/* Basic layout */

body {
    margin: 0;
    background-image: url(img/coronafadet.png);
}

h1 {
    font-size: 45px;
    color:#7c0808;
}

h2 {
    color: white;
    font-size: 40px;
    background-color: #7c0808;
    border-radius: 20px;
    padding: 50px;

}
a {
    color: white;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
       
}
.main_planner {
    margin: 10px;
}

.planner {
    text-align: center;
}

footer {
    border-top: 1px solid #000; border-bottom: 1px solid #000 
}

.icon {
    height: 50px;
    padding: 10px;
}
.icon_home {
    height: 60px;
}

.footer_icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}






