body {
    margin: 0;
}
h1 {
    font-size: 30px;
}

p {
    color: white;
    font-size: 25px;
    background-color: rgb(133, 2, 2);
    border-radius: 10px;
    padding: 20px;
}

img {
    max-width: 100%;
}

main {
    text-align: center;
}


.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    text-align: center;

}



